<div class="pull-right" style="width:30%"><label>Search<input type="text" ng-model="search" ></label></div>
<h1>Products</h1>
<table style="width: 100%;">
	<thead>
		<tr>
			<th>Id</th>
			<th>Product Image</th>
			<th>Description</th>
			<th>Categories</th>
			<th>Availability</th>
			<th>Delete</th>
		</tr>
	</thead>
	<div style="overflow: auto; height: 60%; background-color: red;">
		<tr ng-repeat="product in data|filter:{$: search, id:query}">
			<td>{{product.id}}</td>
			<td><img src="{{product.pictureUrl}}" class="max-full-width"></td>
			<td>{{product.information}}</td>
			<td><a href="" ng-click="makeAdmin(product.id)">Make Admin</a></td>
			<td><a href="" ng-click="forceReset(product.id)">Password Reset</a></td>
			<td><button class="btn" ng-click="delete(product.id)">X</button></td>
		</tr>
	</div>
</table>