<div class="pull-right" style="width:30%"><label>Search<input type="text" ng-model="search" ></label></div>
<h1>Orders</h1>
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>User</th>
			<th>Status</th>
			<th>Products Ordered</th>
			<th>save</th>
		</tr>
	</thead>
	<tr ng-repeat="order in data|filter:{$: search, userId:query}">
			<td>{{order.id}}</td>
			<td><a ui-sref="admin.users({query:order.userId})">{{order.userId}}</a></td>
			<td>{{order.status}}</td>
			<td>productsorderedhere</td>
			<td>save</td>
	</tr>
</table>