<div class="overlay" id="cartOverlay" ng-class="{open: showCart}">
	<div class="pull-right" id="close" >
		<div ng-click="toggleCart()">
			<h2> X </h2>
		</div>
	</div>
	<!-- <div class="cart-view"> -->
		<div class="container cart-view center">
			<div class="row cart-item" ng-repeat="item in cartItems">
				<div class="col-2">
				<div class="img-container">
					<img src={{item.pictureUrl}}>
					</div>
				</div>
				<div class="col-4">
					<h5>{{item.title}}</h5>
				</div>
				<div class="col-3">
					<h5>{{ item.price | currency }}</h5>
				</div>
				<div class="col-3">
					<button>X</button>
				</div>
			</div>
		</div>
		<!--        <li><a href="#about" data-speed="1000" class="menuLink scroll">About</a></li>
		<li><a href="#docs" data-speed="1000" class="menuLink scroll">Docs</a></li> -->
		<!--<li><a href="#examples" data-speed="1000" class="menuLink scroll">Examples</a></li> -->
	<!-- </div> -->
</div>
