    <div class="row cart-item" ng-repeat="item in cartItems">
 <!--        <div class="col-2">
            <div class="img-container">
                <img src={{item.pictureUrl}} class="max-full-width">
            </div>
        </div>
        <div class="col-4">
            <h5>{{item.title}}</h5>
        </div>
        <div class="col-2">
            <h5>{{ item.price | currency }}</h5>
        </div>
        <div class="col-2">
            <input type="text" name="quantity" style="color: black" value="item.getQuantity()" maxlength="2" max="10" size="1" ng-model="item.quantity" />
            <input type="button" ng-click="item.increment(item)" value="+" />
            <input type="button" ng-click="decrementValue()" value="-" />
        </div>
        <div class="col-2">
            <button>X</button>
        </div> -->
    </div>
    <footer>
        <div>
            <h5>Total Price:  {{ getTotal() | currency}}</h5>
        </div>
    </footer>



