<div id="chat-container" ng-show="chatShow">
    <div id="chat-box">
        <div id="chat-box-head">
            A Hipster
            <div class="pull-right" ng-click="toggleChat()">X
            </div>
        </div>
        <div id="chat-box-content">
        </div>
        <div id="chat-box-entry">
        <input id="chat-entry"></input>
        <button id="chat-submit"></button>
        </div>
    </div>
</div>
<div id="chat-ph-container" ng-show="!chatShow">
    <div id="chat-placeholder">
        A Hipster
        <div class="pull-right" ng-click="toggleChat()">O
        </div>
    </div>
</div>
