<div class="container">
    <div class="row">
        <div class="col-6">
            <img id="singleProductImg" ng-src={{product.product.pictureUrl}}>
        </div>
        <div id="singleProductInfo" class="col-6">
            <h1>{{product.product.title}}</h1>
            <h5>{{product.product.information}}</h5>
            <h6 ng-show="product.product.availability">This item is currently available!</h6>
            <h6 ng-show="!product.product.availability">This item is not currently available.</h6>
            <h5>{{ product.product.price | currency }}</h5>
            <button ng-show="product.product.availability" ng-click="addToCart()">Add to Cart</button>
            </div>
            </div>
            <div class="row" id="reviewsBottom">
            <div class="col-12">
            <hr class="style-seven">
            <h1>Reviews</h1>
            <p ng-show="product.reviews.length===0">No review yet</p>
            <div ng-repeat="review in product.reviews">
            <p><strong>{{review.title}}</strong> &nbsp Score : {{review.score}}</p>
            <p> by {{review.author}}</p>
            <p>{{review.comment}}</p>
            </div>
            <input-review ng-show="{{logginStatus()}}" product="product.product"></input-review>

            </div>
        </div>
    </div>
</div>
