#chat-box {

}

#chat-box-head {
    background-color: palegoldenrod;
    padding: 5px;
    color: gray;
    font-weight: bold;
    font-size: 1em;
    clear: both;
    width: 100%;
    height: 2em;
    max-height: 2em;
}

#chat-container {
    display: block;
    position: fixed;
    background-color: white;
    width: 20em;
    height: 23em;
    right: 3em;
    bottom: 0;
    border: solid 1px palegoldenrod;
}

#chat-ph-container {
    display: block;
    position: fixed;
    background-color: white;
    width: 20em;
    height: 2em;
    right: 3em;
    bottom: 0;
    border: solid 1px palegoldenrod;
}

#chat-placeholder {
    background-color: palegoldenrod;
    padding: 5px;
    color: gray;
    font-weight: bold;
    font-size: 1em;
    clear: both;
    width: 100%;
    height: 100%;
}

#chat-box-content {

}

#chat-box-entry {

}
