#msg-container {
    padding-top: .25em;
    padding-bottom: .25em;
    border-bottom: 1px solid palegoldenrod;
    font-size: 1em;
    line-height: 1.2em;
}

#msg-username {
    color: blue;
}

#msg-message {
    color: gray;
}

#msg-timestamp {

}
