$logosize: 15%;

navbar {
    display: block;
    width: 100%;
    background: white;
    border-bottom: 1px solid black;

    .container {
        width: 100%;
        max-width: none;
        padding: 0px;
        margin: 0px;
    }

    fullstack-logo {
        display: block;
        margin-top: 5px;
        width: 5%;
    }

    #largelogo {
        display: block;
        margin-left: 50% - $logosize / 2;
        width: $logosize;
    }

    a {
        color: black;
        font-size: 16px;
    }

    .nav > li a {
        cursor: pointer;
        transition: color 0.2s;

        &.active {
            color: darken(#f31214, 10%);
        }

        &:hover {
            background: none;
            color: #f31214;
        }

        &:focus {
            background: none;
        }
    }

    .topnav {
        margin-top: 0;
        display: block;

        // flex-direction: row;
        // justify-content: space-between;
   
    }

    .navgroup {
        margin: 0px;
    }

    .welcome {
        float: right;

        span {
            color: black;
            font-size: 16px;
            margin-right: 5px;
        }

        a {
            color: #f30046;
            cursor: pointer;
        }
    }

    .lowernav {
        width: 100%;
        // position: relative;
    }

    .nav {
        left: 12%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        justify-content: space-around;
        width: 100%;
        text-align: center;
        li {
          width: 100%;
        }
        
    }

    nav {
        // max-height: 100%;
   
    }
}