<div class="overlay" id="cartOverlay" ng-class="{open: showCart}">
    <div class="pull-right" id="close">
        <div ng-click="toggleCart()">
            <h2> X </h2>
        </div>
    </div>
    <div class="container cart-view center" style="overflow-x: hidden; overflow-y: auto; height: 70%">
        <cart-item ng-repeat="item in cartItems" item="item"></cart-item>
    </div>
    <div class="container cart-view center">
        <h5>Total Price:  {{ getTotal() | currency}}</h5>
        <button ng-hide="cartItems.length===0" ng-click="checkout()">Checking Out</button>
    </div>
<!--        <li><a href="#about" data-speed="1000" class="menuLink scroll">About</a></li>
<li><a href="#docs" data-speed="1000" class="menuLink scroll">Docs</a></li> -->
<!--<li><a href="#examples" data-speed="1000" class="menuLink scroll">Examples</a></li> -->
<!-- </div> -->
</div>
