<div class="row cart-item">
	<div class="col-2">
		<div class="img-container">
			<img src={{item.pictureUrl}} class="max-full-width">
		</div>
	</div>
	<div class="col-4">
		<h5>{{item.title}}</h5>
	</div>
	<div class="col-2">
		<h5>{{ item.price | currency }}</h5>
		<h5>{{item.quantity}}</h5>
	</div>
	<div class="col-2">
		<input type="text" name="quantity" value="item.getQuantity(item)" maxlength="2" max="10" size="1" ng-model="item.quantity" />
		<input type="button" ng-click="item.increment(index)" value="+" />
		<input type="button" ng-click="decrementValue(index)" value="-" />
	</div>
	<div class="col-2">
		<button>X</button>
	</div>
</div>