<div class="row cart-item">
    <div class="col-2">
        <div class="img-container">
            <img src={{item.pictureUrl}} class="max-full-width">
        </div>
    </div>
    <div class="col-4">
        <h5>{{item.title}}</h5>
    </div>
    <div class="col-2">
        <h5>{{ item.price | currency }}</h5>
    </div>
   <div class="col-2">
    <h5>Quantity: {{item.product_order.quantity}}</h5>
    </div>

    <div class="col-2">
        <h5>Created At : {{item.product_order.createdAt}}</h5>
    </div>
</div>
